<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
{% include 'navigation.html' %}
<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <img src="{% static 'images/main_bg.jpg' %}" class="card-img-top" alt="User Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{user.username}}</h5>
                        <p class="card-text">{{user.country}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Информация о пользователе</h4>
                        <table class="table" >
                            <tbody>
                                <tr>
                                    <th>Зарегистрирован:</th>
                                    <td>{{user.date_joined}}</td>
                                </tr>
                                <tr>
                                    <th>Пол:</th>
                                    <td>{{user.gender}}</td>
                                </tr>
                                <tr>
                                    <th>Полных лет:</th>
                                    <td>{{user.age}}</td>
                                </tr>
                                {% if user_id == user.id%}
                                     <tr>
                                    <th >Ваш секретный ключ</th>
                                    <td>{{ user.jwt }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% if user_id == user.id%}
                        <form action="{% url 'update_user' id=user.id %}">
                             <button type="submit" class="btn btn-primary">Редактировать</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>