body {
    background-color: #303030;
    color: #848484;
}
.post {

    background-color: #1c1c1c;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.post:hover {
    background-color: #1c1c1c;
}
.post-link {
    text-decoration: none;
    color: inherit;

}
.post-link:hover,
.post-link:active {
    text-decoration: none;
    color: #848484;
}
.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.btn1{
    background-color: #00ba78;
    margin-left: auto;
    margin-top: auto;
}
.btn1:hover{
    background-color: #00d88a;
}
.tb1{
    color: #FF8000;
}
pre{
    color: white;
    overflow: hidden;
    white-space: pre-wrap;
}
li {
    color: white;
}