<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Souls of Stockholm</title>
    <link rel="manifest" href="{% static 'js/manifest.json' %}">
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% static 'js/service-worker.js' %}")
          .then((registration) => {
            console.log('Service Worker registered with scope:', registration.scope);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      }
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}"  >
</head>
{% include 'navigation.html' %}
    {% if messages %}
        {% for message in messages %}
            {% if "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
                </div>
            {% elif "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
                </div>
        </ul>
            {% endif %}
        {% endfor %}
        {% endif %}

<body>
<a href="{% static 'js/service-worker.js' %}" download="service-worker.js">
                        <button>Скачать Service Worker</button>
                    </a>
    <div class="container mt-4">

        <h1>Добро пожаловать на Souls of Stockholm</h1>
        <p>Здесь не салам, здесь здравствуйте!</p>

        <div class="post">
                <h2>Отдай свою Душу</h2>
                <p class="ellipsis-text">В невермор</p>
        </div>
        <div class="post">
                <h2>Прекрати думать, что всё под твои контролем</h2>
                <p class="ellipsis-text">Твоя душа захвачена</p>
        </div>
        <div class="post">
                <h2>В раю намного мягче климат</h2>
                <p class="ellipsis-text">но лучше общество в аду.</p>
        </div>
        <div class="post">
                <h2>У каждого свой ад — это не обязательно огонь и смола!</h2>
                <p class="ellipsis-text">Наш ад — это жизнь впустую!</p>
        </div>
        <div class="post">
                <h2>О-о-о Неверомор!</h2>
                <p class="ellipsis-text">Твоя душа принадлежит мне!</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% include 'footer.html' %}
</body>
</html>